<%@ Master Language="C#" MasterPageFile="~/Principal.Master" AutoEventWireup="true" CodeBehind="MPCobro.master.cs" Inherits="WebCABDN.Cobro.MPCobro" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contenidoPrincipal" runat="server">
    <asp:ContentPlaceHolder ID="contenidoPrincipal" runat="server">        
        
    </asp:ContentPlaceHolder>
</asp:Content>
